<!DOCTYPE HTML>
<html>
	<head>
		<title>CV</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href= "static/assets/css/main.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body class="subpage">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">
					<div class="container">
						<div class="row">
							<div class="col-12">

								<!-- Logo -->
									<h1><a href="{{ url_for('home') }}" id="logo">Skarvelakis Dimitris</a></h1>

								<!-- Nav -->
									<nav id="nav">
										<a href="{{ url_for('home') }}">Homepage</a>
									</nav>

							</div>
						</div>
					</div>
				</section>

			<!-- Content -->
				<section id="content">
					<div class="container">
						<div class="row">
							<div class="col-3 col-12-medium">

								<!-- Left Sidebar -->
									<section>
										<header>
											<a href="#" class="myimage2"><img src="static/images/ddd.png" height="200" alt=""/><a/>
											<h2>Skarvelakis Dimitris</h2>
										</header>

										<ul class="link-list">
											<li><a href="#cnc">CNC machining</a></li>
											<li><a href="#cam">CAM programming</a></li>
											<li><a href="#automotive">Automotive engineer</a></li>
											<li><a href="#python">Python developer</a></li>
										</ul>
									</section>
									<section>
										<header>
											<h2>Skills</h2>
										</header>
										<ul class="link-list">
											<p>Communication, Teamwork</p>
											<p>Time management, Adaptability</p>
											<p>Problem-solving</p>
											<p>Attention to detail</p>
										</ul>
									</section>
							</div>
							<div class="col-9 col-12-medium imp-medium">

								<!-- Main Content -->
									<section>
										<header>
											<h2>Work experiance</h2>
											<h3>Matrex aluminium dies(2019-now)</h3>
										</header>
										<section id="cnc">
											<tr  class="cnc"></tr>
												<h2>Cnc machinist(2019-2022)</h2>
												<p>
													Reading and interpreting technical drawings and blueprints<br>
													Operating CNC machines<br>
													Monitoring machines to ensure proper operation and quality control<br>
													Making adjustments to the machines and tooling as needed<br>
													Performing routine maintenance and repairs on machines<br>
													Settings and work offset<br>
													Probing<br>
													Troubleshooting machine and tooling problems<br>
													Maintaining a safe and clean work environment.<br>
												</p>
											</tr>
										</section>
										<section id="cam">
											<tr  class="cam"></tr>
												<h2>Cam programmer(2022-2023)</h2>
												<p>
													Proficient in go2cam, Powershape<br>
													Analyzes drawings and part design data to determine dimension and configuration of cuts,
													selection of cutting tools, and machine speeds and feed rates, according to knowledge of machine shop processes,
													part specifications, and machine capabilities.
													Responsible for delivering effective programs to all CNC machines.<br>
													Troubleshooting <br>

												</p>
											</tr>
										</section>
										<section id="automotive">
											<tr  class="automotive">
												<h2>Bachelor at Automotive engineering</h2>
												<p>
													Studied Automotive engineer at ATEITH (TEI of thessaloniki).
													I developed a strong skillset in analyzing engineering drawings and blueprints, as well as in CNC programming during my training.
													Additionally, my background in engineering has given me a deeper understanding of the parts I work on,
													allowing me to approach each project with a unique perspective
												</p>
											</tr>
										</section>
										<section id="python">
											<tr  class="python">
												<h2>Python coding as a passion</h2>
												<p>
													Always had passion about programming and automation. So i learned python!<br>
													Web development: HTML and CSS, this CV website created by me using the above languages.
													Web Scraping, Git, SQL
													Frameworks: Flask, Django, selenium, Beautiful Soup
													Data analysis: Pandas, NumPy.
												</p>
											</tr>
										</section>
									</section>


				<div id="copyright">
					<section>
						<h2>Contact me</h2>
						<p>
							<a href="https://www.facebook.com/mitsos.skarve" class="fa fa-facebook">Δημήτρης Σκαρβελάκης </a><br>
							✉️ <a href="mailto:skarvelakisdimitris@gmail.com">  skarvelakisdimitris@gmail.com</a><br>
							<a href="https://www.linkedin.com/in/dimitrios-skarvelakis-776739216/" class="fa fa-linkedin">Dimitrios Skarvelakis</a><br>
						</p>
					</section>
				</div>

		</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>